.bar
{
 
    background-color: white;
}
.br2{
    background-color: rgb(205, 196, 187)  ;
}
li{
    list-style-type: none;
    margin-top: 5px;
}
.br2 p{
    background-color: rgba(76, 74, 74, 0.772);
}
.slillH{

    font-size: 50px;
}
 